<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table, td, th {
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 15px;
        }

        .img-td {
            width: auto;
        }

        .img-td img {
            width: 50%;
            height: auto;
        }
    </style>
</head>
<body>
<h1>Instaritter</h1>
<hr/>
<div th:if="${message}">
    <h3 th:text="${message}"></h3>
</div>

<div>
    <form method="POST" action="/uploadPhoto" enctype="multipart/form-data">
        <label for="photoFile"> Photo Content:
            <input type="file" id="photoFile" name="photoFile"/>
        </label>
        <br/><br/>
        <label for="description"> Photo Description:
            <input type="text" id="description" name="description"/>
        </label>
        <br/><br/>
        <input type="submit" value="Submit"/>
    </form>
</div>
<hr/>
<div th:if="${photoList.size()>0}">
    <h2 th:text="Photos"></h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Photo</th>
        </tr>
        <tr th:each="photo : ${photoList}">
            <td th:text="${photo.dateTime}"></td>
            <td th:text="${photo.description}"></td>
            <td class="img-td"><img th:src="@{'data:image/png;base64,'+${photo.image}}"/></td>
        </tr>
    </table>
</div>
</body>
</html>
